<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>controller.verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checklogin</servlet-name>
        <servlet-class>controller.checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movies</servlet-name>
        <servlet-class>controller.movies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookmovie</servlet-name>
        <servlet-class>controller.bookmovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbookingdetails</servlet-name>
        <servlet-class>controller.addbookingdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movielist1</servlet-name>
        <servlet-class>controller.movielist1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movielist</servlet-name>
        <servlet-class>controller.movielist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movieinfo</servlet-name>
        <servlet-class>movieinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moviesynopsis</servlet-name>
        <servlet-class>controller.moviesynopsis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>controller.booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingnep</servlet-name>
        <servlet-class>controller.bookingnep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checklogin</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movies</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookmovie</servlet-name>
        <url-pattern>/bookmovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbookingdetails</servlet-name>
        <url-pattern>/addbookingdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movielist1</servlet-name>
        <url-pattern>/movielist1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movielist</servlet-name>
        <url-pattern>/movielist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movieinfo</servlet-name>
        <url-pattern>/movieinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moviesynopsis</servlet-name>
        <url-pattern>/moviesynopsis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingnep</servlet-name>
        <url-pattern>/bookingnep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.html</welcome-file>
    </welcome-file-list>
</web-app>
